<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Project</title>
    <style>
        .box {
            height: 100px;
            width: 100px;
            background: #000;
        }

        [v-cloak] {
            display: none;
        }
    </style>
</head>
<body>
    <div id="app" v-cloak>
        <h2>Hello Buddy...</h2>
        {{ greetings }}
        <!-- Two way data binding -->
        <input v-model="greetings" /> 
        <hr>
        <div v-if="isvisible" class="box"></div>

        <hr>
        <div v-show="isvisible" class="box"></div>

    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
        let app = Vue.createApp({
            data: function() {
                return {
                    greetings: 'Super buddy....',
                    isvisible: true     
                }
            }
        })
        app.mount('#app')
    </script>
</body>
</html>


<!-- 
References: 
-----------
vuejs 3 cdn: https://vuejs.org/guide/quick-start.html 
-->

<!-- 
Notes:
------
1. v-if, if the boolean value is false then the element will not render to the server itself
2. v-show will change the style to display: none. So that it was not shown on screen
3. v-cloak - This used to overcome the rendering of elements in browser. When refreshing, the curly braces are gone now.
4.
5.

-->